PULLWISE_SERVER_URL=https://pullwise.example.com
PULLWISE_WORKER_ID=wk_replace_me
PULLWISE_WORKER_TOKEN=pww_replace_me
PULLWISE_PROVIDER=codex
PULLWISE_MAX_CONCURRENT_JOBS=8
PULLWISE_CHECKOUT_ROOT=/var/lib/pullwise-worker/checkouts
PULLWISE_LOG_DIR=/var/log/pullwise-worker
PULLWISE_WORKER_PACKAGE=pullwise-worker
