PULLWISE_SERVER_URL=https://pullwise.example.com
PULLWISE_WORKER_ID=wk_replace_me
PULLWISE_WORKER_TOKEN=pww_replace_me
PULLWISE_PROVIDER=codex
PULLWISE_MAX_CONCURRENT_JOBS=1
PULLWISE_CHECKOUT_ROOT=/var/lib/pullwise-worker/checkouts
PULLWISE_LOG_DIR=/var/log/pullwise-worker
PULLWISE_WORKER_PACKAGE=https://github.com/GoPullwise/pullwise-worker/releases/download/v0.1.7/pullwise_worker-0.1.7-py3-none-any.whl
PULLWISE_CODEX_PACKAGE=@openai/codex@0.135.0
PULLWISE_WORKER_POLL_JITTER_SECONDS=2
PULLWISE_WORKER_MAX_BACKOFF_SECONDS=60
