PULLWISE_SERVER_URL=https://pullwise.example.com
PULLWISE_WORKER_ID=wk_replace_me
PULLWISE_WORKER_TOKEN=pww_replace_me
PULLWISE_PROVIDER=codex
PULLWISE_SERVICE_NAME=pullwise-worker-wk_replace_me
PULLWISE_SERVICE_USER=pullwise-worker-wk_replace_me
PULLWISE_SERVICE_HOME=/var/lib/pullwise-worker/wk_replace_me
PULLWISE_SERVICE_PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
PULLWISE_WORKER_ENV_FILE=/etc/pullwise-worker/wk_replace_me/worker.env
PULLWISE_WORKER_ENV_BACKUP_FILE=/etc/pullwise-worker/wk_replace_me/worker.env.bak
PULLWISE_WORKER_BIN_PATH=/usr/local/bin/pullwise-worker-wk_replace_me
PULLWISE_LOGROTATE_FILE=/etc/logrotate.d/pullwise-worker-wk_replace_me
PULLWISE_REMOTE_UNINSTALL_FINALIZER=1
PULLWISE_UNINSTALL_MARKER_FILE=/run/pullwise-worker-wk_replace_me/uninstall-requested
PULLWISE_CHECKOUT_ROOT=/var/lib/pullwise-worker/wk_replace_me/checkouts
PULLWISE_LOG_DIR=/var/log/pullwise-worker/wk_replace_me
PULLWISE_WORKER_PACKAGE=https://github.com/GoPullwise/pullwise-worker/releases/download/v0.7.38/pullwise_worker-0.7.38-py3-none-any.whl
PULLWISE_CODEX_PACKAGE=@openai/codex@0.135.0
PULLWISE_CODEX_COMMAND=/var/lib/pullwise-worker/wk_replace_me/.codex/bin/codex
PULLWISE_CODEX_SQLITE_HOME=/var/lib/pullwise-worker/wk_replace_me/.codex-sqlite
PULLWISE_CODEX_MODEL=gpt-5.5
PULLWISE_CODEX_REASONING_EFFORT=medium
PULLWISE_CODEX_APP_SERVER_MAX_AGE_SECONDS=1800
PULLWISE_CODEX_APP_SERVER_MAX_TURNS=8
PULLWISE_CODEX_AUTH_FAILURE_COOLDOWN_SECONDS=3600
PULLWISE_WORKER_POLL_JITTER_SECONDS=2
PULLWISE_WORKER_MAX_BACKOFF_SECONDS=60
PULLWISE_WORKER_CLEANUP_INTERVAL_SECONDS=3600
PULLWISE_RETAIN_FAILED_CHECKOUT_SECONDS=0
PULLWISE_MAX_CHECKOUT_BYTES=21474836480
PULLWISE_REVIEW_CALIBRATION_MODE=shadow
PULLWISE_REVIEW_CALIBRATION_MODEL=relative_factor
PULLWISE_REVIEW_CALIBRATION_HALF_LIFE_DAYS=45
PULLWISE_REVIEW_CALIBRATION_MIN_EFFECTIVE_SAMPLES=20
PULLWISE_REVIEW_CALIBRATION_ENABLE_BUCKETS=false
PULLWISE_REVIEW_CALIBRATION_ENABLE_HIERARCHY=false
PULLWISE_REVIEW_CALIBRATION_ENABLE_DRIFT=false
PULLWISE_REVIEW_CALIBRATION_SAMPLE_AUDIT_RATE=0.02
PULLWISE_REVIEW_CALIBRATION_BORDERLINE_SAMPLE_WINDOW=0.03
PULLWISE_LOG_RETENTION_SECONDS=1209600
PULLWISE_MAX_LOG_BYTES=1073741824
PULLWISE_SCAN_SUMMARY_LOG_MAX_BYTES=10485760
